<div class="container">
  <div class="card-deck">
    <% @products.each do |product| %>
      <div class="card mb-5" style="min-width: 18rem;">
        <span class="tag tag-pill"><%= product[:price] %></span>
        <% if !(product[:photo].empty?) %>
          <img class="card-img-top" src='<%= product[:photo] %>' alt="...">
        <% else %>
          <img class="card-img-top" src="https://cdn1.iconfinder.com/data/icons/business-company-1/500/image-512.png" alt="...">
        <% end %>
        <div class="card-body">
          <h2 class="card-title"><%= product[:name][0..16] %></h2>
        </div>
        <div class="card-footer">
          <a href='<%= product[:url] %>' class="btn btn-flat">Buy Now</a>
          <%= button_to delete_wishlist_path(Wishlist.find_by product_id: product[:id]), class: 'btn bg-transparent', method: :delete, data: { confirm: "Are you sure to delete?" } do %>
            <i class="fas fa-heart red fa-2x"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
