<div class="container">
  <div class="card-deck">
    <% @infos.sort_by{|hah| hah[:price].scan(/\d+./).join('').to_f}.reverse!.each do |product| %>
    <%= puts product[:price] %>
      <div class="card mb-3" style="min-width: 18rem;">
        <% if !(product[:photo].empty?) %>
          <img class="card-img-top" src='<%= product[:photo] %>' alt="...">
        <% else %>
          <img class="card-img-top" src="https://cdn1.iconfinder.com/data/icons/business-company-1/500/image-512.png" alt="...">
        <% end %>
        <div class="card-body">
          <h2 class="card-title"><%= product[:name][0..16] %></h2>
          <span class="tag tag-pill"><%= product[:price] %></span>
          <span class="card-text"> <%= product[:rating] %> </span>
          <p class="card-text"><%= product[:description] %></p>
        </div>
        <div class="card-footer">
          <a href='<%= product[:url] %>' class="btn btn-flat">Buy Now</a>
            <%= button_to wishlists_path, id: "unsaved-label", params: {product: product}, class: 'btn bg-transparent', method: :post do%>
              <i class="fas fa-heart fa-2x"></i>
            <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
