

<div class="banner" id="canvas_screen" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(https://images.unsplash.com/photo-1495521939206-a217db9df264?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);">

  <div class="container" style="position:fix; margin:200px auto;">
    <h1>Set Up Your Dream Home Office</h1>
    <p>Shop and Save on Millions of Products</p>
      <div class="col-sm-12 mt-5">
      <%= form_tag(search_page_path,id: "search_form", :class => "center-block", :method => "get") do %>
      <div class="input-group w-50 mx-auto">
        <%= search_field_tag :search, params[:search], placeholder: "Search Products", class: "form-control red-border pl-4" %>
        <span class="py-3 bg-dark">
          <%= button_tag "", :class => 'btn fas fa-search text-light ',:name => nil%>
        </span>
      </div>
      <% end %>
    </div>
  </div>
  <center><div class="" id="loading_block"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div></center>
</div>


<div class="container-fluid">
  <h2 class="card-container-title"><strong>Get Inspired!</strong></h2>
  <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
    <div class="card my-3">
      <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/619pZFvXd1L._AC_SL1024_.jpg" alt="...">
          <div class="card-body">
          <h2 class="card-title">Dragonhoo Computer Desk 39"</h2>
          <span class="tag tag-pill">$39.00</span>
        </div>
        <div class="card-footer">
          <a href='https://www.amazon.com/DRAGONHOO-Computer-Writing-Office-Shipped/dp/B08G4D9Y9C/ref=sr_1_25?dchild=1&keywords=modern%2Bdesk&qid=1599017034&sr=8-25&th=1' class="btn btn-flat">Buy Now</a>
          <%= button_to wishlists_path, id: "unsaved-label", class: 'btn bg-transparent' do %>
            <i class="fas fa-heart fa-2x"></i>
          <% end %>
        </div>
    </div>
  </div>
    <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
      <div class="card my-3">
        <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/61F-HchjRYL._AC_SL1001_.jpg" alt="...">
          <div class="card-body">
          <h2 class="card-title">Swivel Task Office Chair</h2>
          <span class="tag tag-pill">$75.99</span>
        </div>
        <div class="card-footer">
          <a href='https://www.amazon.com/Flash-Furniture-Designer-Armless-Ribbed/dp/B00QGY0N6K/ref=sr_1_25?dchild=1&keywords=modern%2Bdesk%2Bchair&qid=1599017099&sr=8-25&th=1' class="btn btn-flat">Buy Now</a>
          <%= button_to wishlists_path, id: "unsaved-label", class: 'btn bg-transparent' do %>
            <i class="fas fa-heart fa-2x"></i>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
      <div class="card my-3">
        <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/61ij%2Bm74qgL._AC_SY450_.jpg" alt="...">
          <div class="card-body">
          <h2 class="card-title">Wireless Bluetooth Headphones</h2>
          <span class="tag tag-pill">$28.09</span>
        </div>
        <div class="card-footer">
          <a href='https://www.amazon.com/Innovative-Technology-Rechargeable-Headphones-Rubberized/dp/B06XHSQ9C5/ref=sr_1_1?dchild=1&keywords=modern+headphones&qid=1599017902&sr=8-1' class="btn btn-flat">Buy Now</a>
          <%= button_to wishlists_path, id: "unsaved-label", class: 'btn bg-transparent' do %>
            <i class="fas fa-heart fa-2x"></i>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
      <div class="card my-3">
        <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/5193us8dwRL._AC_SL1000_.jpg" alt="...">
          <div class="card-body">
          <h2 class="card-title">Haitral Modern Desk Lamp</h2>
          <span class="tag tag-pill">$26.99</span>
        </div>
        <div class="card-footer">
          <a href='' class="btn btn-flat">Buy Now</a>
          <%= button_to wishlists_path, id: "unsaved-label", class: 'btn bg-transparent' do %>
            <i class="fas fa-heart fa-2x"></i>
          <% end %>
        </div>
      </div>
    </div>



  </div>
</div>
</div>
</body>


