<div class="container" id="canvas_screen">
<br>
<h1>Search Results for "<%= @parameter %>" </h1>
<br>
<div class="btn-group">
  <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Sorted By
  </button>
  <div class="dropdown-menu">
    <%= button_tag "Price Down", type: 'button', onclick: "descending()", class: 'dropdown-item' %>
    <%= button_tag "Price Up ", type: 'button', onclick: "ascending()", class: 'dropdown-item' %>

  </div>
  <div style="position:relative;top:2px;left:20px",class="container">
    <%= form_tag(search_page_path, :method => "get", id: "search_form") do %>
    <div class="input-group md-form form-sm form-2 pl-0 ">
      <%= search_field_tag :search, params[:search], placeholder: "Search anything", class: "form-control my-0 py-1 red-border" %>
      <span class="p-1 mb-1 bg-dark">
      <%= button_tag "", :class => 'btn fas fa-search text-light ',:name => nil%>
      </span>

    </div>
    <% end %>
  </div>
</div>
 <br>
</div>
<center><div class="" id="loading_block"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div></center>

<div class="container" style="position:fix; margin: auto">
  <% @scrapper = AmazonScrapper.new(@parameter) %>
  <% arramazon = @scrapper.scrap %>
  <% @scrapper = EbayScrapper.new(@parameter) %>
  <% arrebay = @scrapper.scrap %>
  <% @infos = arrebay + arramazon %>
  <!-- <%= render 'shared/unsavedproducts' %> -->
  <%= render 'shared/unsavedproducts_d' %>
  <br>
</div>
